<section id="main">
  <button mat-icon-button (click)="deleteBox()">
    <mat-icon>close</mat-icon>
  </button><br>
  <mat-form-field appearance="outline" floatLabel="auto" class="margin">
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="box.name">
  </mat-form-field>

  <mat-form-field appearance="outline" floatLabel="auto" class="margin">
    <mat-label>Cost</mat-label>
    <input matInput pattern="^[0-9]+(\.[0-9]{1,2})?$" [(ngModel)]="box.cost">
  </mat-form-field><br>

  <mat-form-field appearance="outline" id="category" (click)="selectCategoryDialog()">
    <mat-label>Category</mat-label>
    <input matInput [(ngModel)]="box.categories" readonly>
  </mat-form-field><br>

  <mat-form-field appearance="outline" id="date">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker" readonly>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field><br>

<!--  <mat-form-field appearance="outline">-->
<!--    <mat-label>Choose a date</mat-label>-->
<!--    <input matInput [matDatepicker]="picker">-->
<!--    <mat-hint>MM/DD/YYYY</mat-hint>-->
<!--    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--    <mat-datepicker #picker></mat-datepicker>-->
<!--  </mat-form-field>-->
</section>
