<section id="main">
  <button mat-icon-button (click)="deleteBox()">
    <mat-icon [ngClass]="{'mat-icon-dark': darkMode}">close</mat-icon>
  </button><br>
  <mat-form-field appearance="outline" floatLabel="auto" class="margin"
                  [ngClass]="{'dark-form': darkMode}">
    <mat-label>{{ 'FORM_NAME' | translate }}</mat-label>
    <input matInput [(ngModel)]="box.name"  #name="ngModel" required>
    <mat-hint *ngIf="name.invalid && (name.dirty || name.touched)">{{ 'FORM_NAME_ERR' | translate }}</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline" floatLabel="auto" class="margin"
                  [ngClass]="{'dark-form': darkMode}">
    <mat-label>{{ 'FORM_COST' | translate }}</mat-label>
    <input matInput pattern="^[0-9]+(\.[0-9]{1,2})?$" [(ngModel)]="box.cost" #cost="ngModel" required>
    <mat-hint *ngIf="cost.invalid && (cost.dirty || cost.touched)">{{ 'FORM_COST_ERR' | translate }} <b>X.XX</b> (X=[0-9])</mat-hint>
  </mat-form-field><br>

  <mat-form-field appearance="outline" id="category" (click)="selectCategoryDialog()"
                  [ngClass]="{'dark-form': darkMode}">
    <mat-label>{{ 'FORM_CATEGORY' | translate }}</mat-label>
    <input matInput [(ngModel)]="box.categories" #categories="ngModel" readonly required>
    <mat-hint *ngIf="categories.invalid && (categories.dirty || categories.touched)">{{ 'FORM_CATEGORY_ERR' | translate }}</mat-hint>
  </mat-form-field><br>

  <mat-form-field appearance="outline" id="picker"
                  [ngClass]="{'dark-form': darkMode}">
    <mat-label>{{ 'FORM_DATE' | translate }}</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="box.date" #date="ngModel" readonly required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-hint *ngIf="date.invalid && (date.dirty || date.touched)">{{ 'FORM_DATE_ERR' | translate }}</mat-hint>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field><br>
</section>
