* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#main{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.dark-theme{
  background-color: #181a20;
}

.light-theme{
  background-color: #fef7f1;
}

#mainBox{
  grid-area: 1 / 2 / 2 / 3;
}

#img {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#settings-png {
  width: 700px;
}

#wrapper {
  margin-top: 80px;
  height: 90%;
  overflow-y: auto;
}

.text-dark{
  color: #fcd535;
}

@media screen and (max-width: 900px) {
  #main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  #img {
    display: none;
  }

  #mainBox {
    grid-area: 1 / 1 / 2 / 2;
  }

  #wrapper {
    margin-top: 10px;
    padding-left: 5px;
  }
}

#edit {
  float: right;
}

#delete {
  float: right;
}
