<section [ngClass]="{'light-theme': !darkMode, 'dark-theme': darkMode}">
<mat-dialog-content>
  <p [ngClass]="{'dark-text' : darkMode}">{{ 'SELECT_CATEGORY_NOT_RECOGNIZED_1' | translate}}<br>
    {{ 'SELECT_CATEGORY_NOT_RECOGNIZED_2' | translate}}<br>
    <span>{{data}}</span><br>
    {{ 'SELECT_CATEGORY_SELECT' | translate}}</p>
  <mat-list [ngClass]="{'dark-text' : darkMode}">
    <mat-list-item (click)="addNewCategory()"><h3>{{ 'CATEGORY_ADD_OWN' | translate}}</h3></mat-list-item>
    <mat-divider></mat-divider>
    <ng-container *ngFor="let item of items; let i = index">
      <mat-divider *ngIf="i != 0"></mat-divider>
      <mat-list-item [ngClass]="{'highlight': selectedItem === item}" (click)="selectItem(item)">{{ item }}</mat-list-item>
    </ng-container>
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button id="ok" mat-button [mat-dialog-close]="selectedItem" cdkFocusInitial
          [ngClass]="{'button-light': !darkMode, 'button-dark': darkMode}">{{ 'OK' | translate}}</button>
</mat-dialog-actions>
</section>
