<section [ngClass]="{'light-theme': !darkMode, 'dark-theme': darkMode}">
<mat-dialog-content>
  <p [ngClass]="{'dark-text' : darkMode}">Category not recognized<br>
    for this product:<br>
    <span>{{data}}</span><br>
    Please select a category</p>
  <mat-list [ngClass]="{'dark-text' : darkMode}">
    <mat-list-item (click)="addNewCategory()"><h3>Add your own category</h3></mat-list-item>
    <mat-divider></mat-divider>
    <ng-container *ngFor="let item of items; let i = index">
      <mat-divider *ngIf="i != 0"></mat-divider>
      <mat-list-item [ngClass]="{'highlight': selectedItem === item}" (click)="selectItem(item)">{{ item }}</mat-list-item>
    </ng-container>
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button id="ok" mat-button [mat-dialog-close]="selectedItem" cdkFocusInitial
          [ngClass]="{'button-light': !darkMode, 'button-dark': darkMode}">Ok</button>
</mat-dialog-actions>
</section>
