mat-form-field {
  width: 250px;
}

h3 {
  color: #41403F;
}

button {
  width: 100px;
}

#cancel {
  background-color: darkred;
  color: white;
}

.button-light {
  background-color: #2a9d8f;
  color: white;
}

.button-dark {
  background-color: #474d57;
  color: white;
}

.dark-theme{
  background-color: #181a20;
}

.light-theme{
  background-color: #fef7f1;
}

.dark-text {
  color: #fcd535;
}
