<section class="main">
  <img id="wave" src="../../../assets/images/wave.png">
  <div id="img">
    <img id="phone" src="../../../assets/images/forgot-pass-phone.png">
  </div>
  <form [formGroup]="loginForm">
    <img id="logo" src="../../../assets/images/logo.png">
    <br>
    <h1>remind password</h1>
    <mat-form-field appearance="outline">
      <input matInput placeholder="Email" formControlName="email" required>
      <mat-hint *ngIf="email && email.invalid && email.touched">Invalid email</mat-hint>
    </mat-form-field>
    <br>
    <button mat-raised-button (click)="send()">Send</button>
    <br>
    <a class="log-in">Go back to the login page</a>
  </form>
</section>
