.dark-form .mat-form-field-outline {
  color: #fcd535;
}

.dark-form .mat-select .mat-select-value .mat-select-value-text {
  color: #fcd535;
}

.dark-form mat-label {
  color: #fcd535;
}

.dark-form input {
  color: #fcd535;
}

.dark-form mat-datepicker-toggle {
  color: #fcd535;
}

.dark-form ::placeholder{
  color: #fcd535;
}
