@import "dark-form.scss";
/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
:root{
  --main-color: #2a9d8f;
  --secound-color: #e76f51;
  --my-orange: #f4a261;
  --my-yellow: #e9c46a;
  --my-dark-blue: #264653;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error-snackbar {
  background: indianred;
  color: white;
}
.green-snackbar {
  background-color: var(--main-color);
  color: white;
}
