<section>
  <div id="firstBox">

  </div>
  <div id="chartBox">
    <div id="wrapper">
      <canvas id="chart"></canvas>
      <p id="noData">No data in {{month}} {{year}}. Please enter the data in the <b>Scan Receipt</b> tab.</p>
    </div>

    <div id="changeMonth">
      <div id="wrapperMonth">
        <button mat-button class="arrowBtn" (click)="previousMonth()">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>

        <div id="text">
          {{month}}
        </div>

        <button mat-button class="arrowBtn" (click)="nextMonth()">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </div>
  </div>
</section>
