<section [ngClass]="{'light-theme': !darkMode, 'dark-theme': darkMode}">
  <div id="firstBox">
    <img id="home-png" src="assets/images/home.png">
  </div>
  <div id="chartBox">
    <div id="wrapper">
      <canvas id="chart"></canvas>
      <p id="noData" [ngClass]="{'text-light': !darkMode, 'text-dark': darkMode}">
        {{ 'HOME_NO_DATA' | translate }} {{titleText}}.<br>
        {{ 'HOME_ENTER_DATA' | translate }}</p>
    </div>

    <div id="changeMonth">
      <div id="wrapperMonth">
        <button mat-button class="arrowBtn" [ngClass]="{'text-light': !darkMode, 'text-dark': darkMode}" (click)="previousMonth()">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>

        <div class="text" [ngClass]="{'text-light': !darkMode, 'text-dark': darkMode}" *ngIf="chartTimeRange === 'month'">
          {{month}}
        </div>

        <div class="text" [ngClass]="{'text-light': !darkMode, 'text-dark': darkMode}" *ngIf="chartTimeRange === 'year'">
          {{year}}
        </div>

        <div class="text" [ngClass]="{'text-light': !darkMode, 'text-dark': darkMode}" *ngIf="chartTimeRange === 'day'">
          {{titleText}}
        </div>

        <div class="text" [ngClass]="{'text-light': !darkMode, 'text-dark': darkMode}" *ngIf="chartTimeRange === 'week'">
          {{titleText}}
        </div>

        <button mat-button class="arrowBtn" [ngClass]="{'text-light': !darkMode, 'text-dark': darkMode}" (click)="nextMonth()">
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </div>
  </div>
</section>
