<section id="main" [ngClass]="{'light-theme': !darkMode, 'dark-theme': darkMode}">
  <div id="img">
    <img id="settings-png" src="assets/images/settings.png">
  </div>

  <div id="mainBox">
    <div id="wrapper">
      <mat-form-field appearance="outline" [ngClass]="{'dark-form': darkMode}">
        <mat-label>{{ 'SETTINGS_CHART_TYPE' | translate }}</mat-label>
        <mat-select [(ngModel)]="selectedChartType">
          <mat-option value="pie">{{pie}}</mat-option>
          <mat-option value="bar">{{bar}}</mat-option>
          <mat-option value="doughnut">{{doughnut}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" [ngClass]="{'dark-form': darkMode}">
        <mat-label>{{ 'SETTINGS_TIME_RANGE' | translate }}</mat-label>
        <mat-select [(ngModel)]="selectedChartTimeRange">
          <mat-option value="day">{{daily}}</mat-option>
          <mat-option value="week">{{weekly}}</mat-option>
          <mat-option value="month">{{monthly}}</mat-option>
          <mat-option value="year">{{yearly}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" [ngClass]="{'dark-form': darkMode}">
        <mat-label>{{ 'SETTINGS_LANG' | translate }}</mat-label>
        <mat-select [(ngModel)]="selectedLanguage">
          <mat-option value="en">{{en}}</mat-option>
          <mat-option value="pl">{{pl}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" [ngClass]="{'dark-form': darkMode}">
        <mat-label>{{ 'SETTINGS_THEME' | translate }}</mat-label>
        <mat-select [(ngModel)]="selectedTheme">
          <mat-option value="light">{{light}}</mat-option>
          <mat-option value="dark">{{dark}}</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button id="save" (click)="saveData()"
              [ngClass]="{'button-light': !darkMode, 'button-dark': darkMode}">{{ 'SAVE' | translate }}</button>

      <button mat-raised-button id="logout" (click)="logout()">{{ 'LOGOUT' | translate }}</button>
    </div>
  </div>
</section>
