<section id="main" [ngClass]="{'light-theme': !darkMode, 'dark-theme': darkMode}">
  <div id="img">
    <img id="settings-png" src="assets/images/settings.png">
  </div>

  <div id="mainBox">
    <div id="wrapper">
      <mat-form-field appearance="outline" [ngClass]="{'dark-form': darkMode}">
        <mat-label>Chart type</mat-label>
        <mat-select [(ngModel)]="selectedChartType">
          <mat-option value="pie">Pie Chart</mat-option>
          <mat-option value="bar">Bar Chart</mat-option>
          <mat-option value="doughnut">Doughnut Chart</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" [ngClass]="{'dark-form': darkMode}">
        <mat-label>Chart time range</mat-label>
        <mat-select [(ngModel)]="selectedChartTimeRange">
          <mat-option value="day">Dayly</mat-option>
          <mat-option value="week">Weekly</mat-option>
          <mat-option value="month">Monthly</mat-option>
          <mat-option value="year">Yearly</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" [ngClass]="{'dark-form': darkMode}">
        <mat-label>Language</mat-label>
        <mat-select [(ngModel)]="selectedLanguage">
          <mat-option value="en">Engilsh</mat-option>
          <mat-option value="pl">Polish</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" [ngClass]="{'dark-form': darkMode}">
        <mat-label>Theme</mat-label>
        <mat-select [(ngModel)]="selectedTheme">
          <mat-option value="light">Light</mat-option>
          <mat-option value="dark">Dark</mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-raised-button id="save" (click)="saveData()"
              [ngClass]="{'button-light': !darkMode, 'button-dark': darkMode}">save</button>

      <button mat-raised-button id="logout">Logout</button>
    </div>
  </div>
</section>
